.navbar-main {
  display: flex;
 
}
.navbar{
  /* background-color: #6459d9; */
  /* background-color:rgb(250, 45, 45); */
  background-color:#4F4E73;
}

.user {
  display: flex;
}

.user img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-top: 5px;
}

.user h2 {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 16px;
  /* color: #464646; */
  color: azure;
  font-weight: bold;
}

.signout {
  cursor: pointer;
  margin-top: 6px;
}
.signout:hover{
  opacity: 0.4;
}

.date {
  margin-top: 14px;
  margin-right: 60px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}
