.web-view {
  display: flex !important;
}
audio-react-recorder {
  display: none;
}

@media only screen and (max-width: 400px) {
     div.mobile-view{
       padding: 0%;
       padding-top: 0%;
      
     }
     button.tabs{
       padding-left:-10% !important;
       display: grid;
       grid-template-columns: auto auto;
     
     }
     .left-main{
       padding: 0%;
       display: grid;
       grid-template-rows: auto auto;
       row-gap: 15px;
       width: 90% !important;
       margin: 5% 5% 0% 5% !important;
     }
     .mytodo1{
       color: blue !important;
       font-family: 'Times New Roman', Times, serif;
      
     }
     .input-div{
      display: grid;
      grid-template-columns: 90% 20%;
      column-gap: 5px;
      grid-template-rows: auto auto;
      row-gap: 10px;
      
     }
     
     .rightmain{
       padding: 15px;
       width: 100% !important;
       margin: 0%!important;
     }
     #heading1{
       text-align: center;
       color: #6459d9;
     }
     #addicon{
      width: 10%;
      }
}

  .trash{
    width:20px;
    filter:opacity(60%)
  }
  .pin{
    filter:opacity(50%)
  }
  #icons{
    display: flex;
    float:right;
  }
  #heading1{
    color: #6459d9;
  }
  .left-main{
    width:50%;
    margin:5% 0% 0% 5%;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
  }
  .input-div{
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }
  .rightmain{
    margin: 5% 0% 0% 5%;
    grid-template-rows: auto auto ;
    row-gap: 20px;
    width:35%;
  }
  #ip{
    width: 85%;
  }
  #card{
    width: 85%;
  }
  #addicon{
    position: absolute;
    margin: 1% 43% 0% 43%;
  }
  